<!DOCTYPE html>
<html>
<head>
  <title>Get Help</title>
  <link rel="stylesheet" type= "text/css" href="css/index.css">
</head>
<body>
  <div class="topnav">
          <a href="/">Home</a>
          <a class="active" href="/getHelp.erb">Get Help</a>
          <a href="/websites.erb">Websites</a>
    </div>
  <h2>It is okay to ask for help if you need it. Everyone gets down and stressed sometimes, and sometimes we need someone to pull us back up.</h2>

    <h3>US Suicide Prevention Lifeline: 1-800-273-8255</h3>
    <h3>Crisis Text Line: Text HOME to 741741</h3>
    <h3>NDMDA Depression Hotline Support Group: 800-826-3632</h3> 

</body>
</html>