<!DOCTYPE html>
<html>
    <head>
        <title>Help Yourself</title>
        <link rel="stylesheet" type= "text/css" href="css/styles.css">
    </head>
    
    <body>
        <div class="topnav">
          <a href="/">Home</a>
          <a href="/getHelp.erb">Get Help</a>
          <a href="/websites.erb">Websites</a>
        </div><br></br>
        
        <div class="intro">
            <h1>Help Yourself</h1>
            <h2>Here is content to make you feel better. Along with words of wisdom that may help you.</h2>
        </div><br></br>
        
        <div class="different">
          <h2><em>You seem to be borderline and leaning over the edge. This can be a tipping point, so look at the links if need be. There are also pictures and advice to encourage and support you.</em></h2>
        </div>
      
        <div class="important">
          <h1><strong>If you need help, find it</strong></h1>
          <h3><em>Too many people are lost because of depression, anxiety, or other mental issues. If you need help these links below can help you through talking, medication, or other treatments. If you need help, don't become another dark statistic.</em></h3>
          <a href="http://www.mentalhealthamerica.net/im-looking-mental-health-help-myself" target="_blank">Help for Yourself</a><br></br>
          <a href="http://www.mentalhealthamerica.net/im-looking-mental-health-help-someone-else#stage2" target="_blank">Help for Someone You Know</a><br></br>
          <a href="http://www.mentalhealthamerica.net/find-affiliate" target="_blank">Places that will help you</a><br></br>
          <a href="http://www.suicidepreventionlifeline.org/" target="_blank">National Suicide Prevention Lifeline Website</a><br></br>
        </div>
        
        <div class="humor">
            <h2>Humor</h2>
            <h3>The jokes which encourage you through a twisted sarcasm.</h3>
            <img src="https://i.pinimg.com/originals/5c/d2/0a/5cd20ab85449a54636ac6ffbd3e76739.jpg" align="middle" width="200" height="200">
            <img src="https://quotesyard.com/wp-content/uploads/2017/12/funny-inspirational-quotes-about-life.png" align="middle" width="200" height="200">
            <img src="http://2.bp.blogspot.com/-86m2P8zu3FY/Un0TX4FAx3I/AAAAAAAATF8/YXyG-AkmYo4/s1600/funny+quotes.jpg" align="middle" width="350" height="200">
            <img src="http://quotesnhumor.com/wp-content/uploads/2015/12/Top-30-Most-funniest-Sarcasm-quotes-LOL.jpg" align="middle" width = "200" height="200">
            <img src="https://i.pinimg.com/736x/bf/71/80/bf7180b59d50614abf24354eb589839f--legal-business-rebel-quotes.jpg" align="middle" width="200" height="200">
            <img src="https://inspirationalquotess.net/wp-content/uploads/2018/03/inspirational-quotes-sarcastic-luxury-best-25-sarcastic-inspirational-quotes-ideas-on-pinterest-of-inspirational-quotes-sarcastic.jpg" align="middle" width="200" height="200">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpJGEitqIk_OJtlhoQRo_4kfAA_YUbxV6izNjw5STK83Z2oKBlcQ" align="middle" width="250" height="200">
            <img src="https://www.kartikshah.info/wp-content/uploads/2018/03/sarcastic-inspirational-quotes-8-r-best-45-positive-quotes-about-life-to-inspire-11.jpg" align="middle" width="200" height="200">
        </div>
      
      <div class="positive">
        <h2>Positivity</h2>
        <h3>Sometimes you just need someone to believe in you</h3>
        <img src="https://i.pinimg.com/originals/07/e8/3b/07e83b5ed7b0f0e133567010a79d6b57.jpg" align="middle" width="200" height="200">
        <img src="http://quotesnhumor.com/wp-content/uploads/2017/08/26-uplifting-quotes-2.jpg" align="middle" width="200" height="200">
        <img src="https://i0.wp.com/boomsumo.com/wp-content/uploads/2017/06/Inspirational-Uplifting-Quotes-For-Difficult-Times-words-of-encouragement-and-strength.jpg?resize=600%2C600" align="middle" width="200" height="200">
        <img src="http://thinkingmeme.com/wp-content/uploads/2017/12/Best-25-Uplifting-Quotes24.jpg" align="middle" width="200" height="200">
        <img src="https://notsalmoncom.lightningbasecdn.com/wp-content/uploads/2015/07/poster-okay-not-to-be-okay.jpg" align="middle" width="200" height="200">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNJyCRF35_G0bNpLTIXuqc14kxg9ahjlyjeaHnzdu13_Xr6SQC" align="middle" width="200" height="200">
        <img src="https://i.pinimg.com/originals/a3/2a/1b/a32a1b99e988caad53a1a70689bcb28a.jpg" align="middle" width="200" height="200">
        <img src="http://vibehub.co/wp-content/uploads/2018/06/inspirational-quotes-pinterest-inspirational-goal-quotes-and-motivational-quotes-that-will-inspire-you-also-inspirational-goal-quotes-inspirational-goal-quotes-encouraging-bible-quotes-pinterest.jpg" align="middle" width="200" height="200">
      </div> 
      
      <div class="depression">
        <h2>Depression</h2>
        <h3>Depression is not a joke, nor is it something we can ignore. If you need help, seek it. Otherwise I hope these images help inform and support you.</h3>
        <img src="https://blogs.psychcentral.com/tms/files/2015/10/Depression-at-ZestyDoesThings-Tumbler-com-tumblr_mt2me4otZl1rvfh0po4_r1_1280.jpg" align="middle" width="900" height="600">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPzPXTxmNWZhB8Mi74DzUkZWLmS4qweRGljnUliZ32b2hh-3h1" align="middle" width="250" height="250">
        <img src="https://78.media.tumblr.com/7c38f80d584103278c1c6e146c260dad/tumblr_p2l7cz2emM1wvown5o1_500.jpg" align="middle" width="250" height="250">
        <img src="http://kerbcraft.org/wp-content/uploads/2018/02/depression-help-quotes-colorful-motivational-and-inspirational-quotes-to-help-ease-anxiety-of-depression-help-quotes.jpg" align="middle" width="250" height="250">
      </div>
      
      <div class="anxiety">
        <h2>Anxiety</h2>
        <h3>Anxiety isn't a joke, it is an issue. People suffer from every day from social anxiety or test anxiety, and if you need help, you should seek it. Otherwise I hope these images help inform you and encourage you.</h3>
        <img src="https://static.boredpanda.com/blog/wp-content/uploads/2015/08/11807167_1005290749502979_8174654475609344732_o2__880.jpg" align="middle" width="900"
             height="600">
      </div>
      
      <div class="tv">
        <h2>TV Shows</h2>
        <h3>TV Shows may seem useless, but they can help distract you from the thoughts bringing you down. They can even make you laugh and be happy if only for a bit. These moments count!</h3>
        <img src="https://viewsfromthesofa.files.wordpress.com/2016/05/featured21.jpg" align="middle" width="200" height="200">
        <img src="https://s3.ap-southeast-1.amazonaws.com/images.deccanchronicle.com/dc-Cover-lmkhlh54bt5ga5ie76c2hod367-20180101150520.Medi.jpeg" align="middle" width="300" height="200">
        <img src="http://legionofleia.com/wp-content/uploads/2015/11/pokemon-image.jpg" align="middle" width="250" height="200">
        <img src="https://fbcoverstreet.com/content/TV7C1VQ6at6EiI4TPbNY4YREJ7RTjSWD3HC7aoYZ6C1g9gk3Iujamar4D334E7WI.jpg" align="middle" width="300" height="200">
        <img src="https://i.pinimg.com/originals/fe/6b/bd/fe6bbd9b8a642382c243f78a9029e7df.jpg" align="middle" width="200" height="250">
        <img src="https://vignette.wikia.nocookie.net/avatar/images/5/5d/Art_of_the_Animated_Series_cover.png/revision/latest?cb=20130806213550" align="middle" width="200" height="250">
      </div>
      
      <div class="anime">
        <h2>Anime</h2>
        <h3>Anime may seem useless and weird, but if it makes you feel good while you are down then it is worth it</h3>
        <img src="https://myanimelist.cdn-dena.com/images/anime/7/5061.jpg" align="middle" width="200" height="200">
        <img src="https://teenmemoircom.files.wordpress.com/2018/06/ouran1.jpg" align="middle" width="250" height="200">
        <img src="https://derf9v1xhwwx1.cloudfront.net/image/upload/oth/FunimationStoreFront/1347144/Latvian/1347144_Latvian_ShowMasterKeyArt_e173306c-a478-e711-8175-020165574d09.jpg" align="middle" width="250" height="200">
        <img src="https://cdn8.bigcommerce.com/s-ua4dd/images/stencil/1280x1280/products/18594/36798/84963__20571.1477059381.jpg?c=2&imbypass=on&imbypass=on" align="middle" width="250" height="200">
        <img src="https://myanimelist.cdn-dena.com/images/anime/3/72943.jpg" align="middle" width="200" height="250">
        <img src="https://myanimelist.cdn-dena.com/images/anime/8/65409.jpg" align="middle" width="200" height="250">
        <img src="https://myanimelist.cdn-dena.com/images/anime/3/60551.jpg" align="middle" width="200" height="250">
      </div>
      
      <div class="music">
        <h2>Hopeful Music</h2>
        <h3>Music is a simple idea, yet it can reach us at our darkest point and bring us back up</h3>
        <iframe width="450" height="315" src="https://www.youtube.com/embed/HgzGwKwLmgM"></iframe>
        <iframe width="450" height="315" src="https://www.youtube.com/embed/hCuMWrfXG4E"></iframe>
        <iframe width="450" height="315" src="https://www.youtube.com/embed/btPJPFnesV4"></iframe>
        <iframe width="450" height="315" src="https://www.youtube.com/embed/VBmMU_iwe6U"></iframe>
        <iframe width="450" height="315" src="https://www.youtube.com/embed/ZaI2IlHwmgQ"></iframe>
        <iframe width="450" height="315" src="https://www.youtube.com/embed/P5ZJui3aPoQ"></iframe>
      </div>
      
      <div class="healthy">
        <h2>Healthy Comfort Foods</h2>
        <h3>Sometimes you want something healthy which warms you up inside.</h3>
        <img src="https://images-gmi-pmc.edge-generalmills.com/da38d508-e52d-4fb1-8754-8365821b591b.jpg" align="middle" width="250" height="200">
        <img src="https://www.recipetineats.com/wp-content/uploads/2017/05/Lasagne-recipe-3-main.jpg" align="middle" width="200" height="200">
        <img src="https://static01.nyt.com/images/2016/11/29/dining/recipelab-chick-noodle-still/recipelab-chick-noodle-still-videoSixteenByNineJumbo1600.jpg" align="middle" width="200" height="200">
        <img src="http://images.media-allrecipes.com/userphotos/960x960/4552433.jpg" align="middle" width="200" height="200">
      </div>
      
      <div class="unhealthy">
        <h2>Unhealthy Comfort Food</h2>
        <h3>These foods are not the greatest for you, but if they keep you out of dark places they are definitely worth it. Just try to keep it under control.</h3>
        <img src="https://res.cloudinary.com/teepublic/image/private/s--pXh-UIDJ--/t_Preview/b_rgb:ffffff,c_limit,f_jpg,h_630,q_90,w_630/v1509034719/production/designs/2002450_1.jpg" align="middle" width="200" height="200">
        <img src="https://bwgroup.hu/wp-content/uploads/2017/02/csoki2.png" align="middle" width="200" height="200">
        <img src="https://www.buzzle.com/images/food/comfort-food-french-fries.jpg" align="middle" width="250" height="200">
        <img src="https://cdn.cpnscdn.com/static.coupons.com/ext/kitchme/images/recipes/600x400/spicy-fried-chicken-wings_26151.jpg" align="middle" width="250" height="200">
        <img src="https://img.sndimg.com/food/image/upload/w_896,h_504,c_fill,fl_progressive,q_80/v1/img/recipes/34/53/86/T6QN1BwTXuLqx44SMecL_DSC_0648.JPG" align="middle" width="250" height="200">
        <img src="https://images-gmi-pmc.edge-generalmills.com/8cf03fe6-7ebd-4804-840e-95c45eb5b9f7.jpg" align="middle" width="250" height="200">
        <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2012/5/4/0/FNM_060112-Almost-Famous-Fried-Pickles-Recipe_s4x3.jpg.rend.hgtvcom.616.462.suffix/1382541365213.jpeg" align="middle" width="200" height="200">
      </div>
      
      <div class="concerts">
        <h2>Concerts</h2>
        <h3>Staying inside all day doesn't always improve your mood when you feel down. Going to concerts can help you get out of the house and meet new people that have the same taste in music as you.</h3>
        <img src="http://www.qcchoir.org/images/qcchoir_chamber-orchestra.png" align="middle" width="200" height="200">
        <img src="http://www.superstartickets.com/blog/wp-content/uploads/2014/07/country-concerts.jpg" align="middle" width="200" height="200">
        <img src="https://images.sk-static.com/images/media/profile_images/artists/252886/huge_avatar" align="middle" width="200" height="200">
      </div>
      
      <div class="parks">
        <h2>Parks</h2>
        <h3>Staying inside is no good for anyone. It can bring people up without having to spend a dime as long as it's a nice day out.You might even meet someone that would like to talk to you and share a nice spot in the shade.</h3>
        <img src="https://media.timeout.com/images/100694153/image.jpg" align="middle" width="200" height="200">
        <img src="https://www.provo.org/Home/ShowImage?id=3986&t=635168384794300000" align="middle" width="200" height="200">
        <img src="http://www.yearofseattleparks.com/wp-content/uploads/2014/02/seattle_center.jpg" align="middle" width="200" height="200">
      </div>
      
      <div class="rollercoasters">
        <h2>Roller Coasters</h2>
        <h3>Roller Coasters are a fun opportunity to meet new people and try to move past the pain. There are a variety of places to visit from Worlds of Fun to Disney World to Cedar Point to Six Flags.</h3>
        <img src="https://cdn-cloudfront.cfauthx.com/binaries/content/gallery/wf-en-us/poi/entertainment/events/opening-day/wof-opening-day-2018-banner.jpg" align="middle" width="200" height="200">
        <img src="https://images.huffingtonpost.com/2014-06-03-IncredibleHulk-thumb.jpg" align="middle" width="200" height="200">
        <img src="https://cbsdetroit.files.wordpress.com/2016/02/skyline_day_wallpaper.jpg?w=1024&h=576&crop=1" align="middle" width="200" height="200">
        <img src="https://www.statisticbrain.com/wp-content/uploads/2012/04/six-flags-theme-park-statistics-1024x475.jpg" align="middle" width="200" height="200">
      </div>
      
      <div class="funParks">
        <h2>Fun Parks</h2>
        <h3>Going to fun parks gives you an opportunity to relax and play a variety of activities.</h3>
        <img src="https://www.papiofunpark.com/pages_data/medium/_636602559919782891.jpg" align="middle" width="250" height="200">
        <img src="http://ncworkcompjournal.gelmanmedia.com/wp-content/uploads/sites/8/2015/09/laser-tag.jpg" align="middle" width="250" height="200">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/Bowlerbowling.JPG/550px-Bowlerbowling.JPG" align="middle" width="200" height="200">
        <img src="https://soaradventure.com/wp-content/uploads/2017/06/IMG_4480.jpg" align="middle" width="200" height="200">
      </div>
    </body>
</html>