<!--This is where your HTML for your home page goes -->
<!DOCTYPE html>
<html >
<head>
  <title>Help Yourself</title>
  <link rel="stylesheet" type= "text/css" href="css/index.css">
</head>
<body>
  <div class="topnav">
          <a class="active" href="/">Home</a>
          <a href="/getHelp.erb">Get Help</a>
          <a href="/websites.erb">Websites</a>
    </div>
  <img src="https://img.etsystatic.com/il/86be31/1125150235/il_570xN.1125150235_kz7e.jpg?version=0" align="middle" width="450" height="450"><br></br>
  <a href="/questions.erb"><button type="quiz">Take a Quiz</button></a>
</body>
</html>