<!DOCTYPE html>
<html>
<head>
  <title>Websites</title>
  <link rel="stylesheet" type= "text/css" href="css/index.css">
</head>
<body>
  <div class="topnav">
          <a href="/">Home</a>
          <a href="/getHelp.erb">Get Help</a>
          <a class="active" href="/websites.erb">Websites</a>
    </div>
    
  <h2>These websites are believed to help those who are stressed</h2>
  <h3><a href="https://ecouch.anu.edu.au/welcome">eCouch</a></h3><br></br>
  <h3><a href="https://moodgym.anu.edu.au/">MoodGym</a></h3><br></br>
  <h3><a href="https://thiswayup.org.au/self-help/courses/structure/">This Way Up: Worry and Sadness Program</a></h3>
  
  <h2>There are also many websites which will better inform on mental illnesses. We are not qualified to diagnose them in any sense, but these websites can connect you with those who can. 44,965 Americans die by suicide each year.</h2>
  <h3><a href="https://www.nimh.nih.gov/index.shtml">National Institue of Mental Health</a></h3><br></br>
  <h3><a href="https://www.nami.org/">National Alliance on Mental Illness</a></h3><br></br>
  <h3><a href="http://www.mentalhealthamerica.net/programs">Mental Health America</a></h3>
</body>
</html>